
<nav class="navbar navbar-expand-lg navbar-light  fixed-top" style="background: linear-gradient(15deg, #8e8e8f 0%, #f4f1f1 100%); height: 70px;">
    
  <div class="container">
    <div class="logo" (click)="goToHome()">
      <img  src="assets/images/logo.png" alt="" style="width: 190px;">

  </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive" >
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" style="font-size: 20px; font-family: Verdana, Geneva, Tahoma, sans-serif;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"style="font-size: 20px; font-family: Verdana, Geneva, Tahoma, sans-serif;">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/store" style="font-size: 20px; font-family: Verdana, Geneva, Tahoma, sans-serif;">Store</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="font-size: 20px; font-family: Verdana, Geneva, Tahoma, sans-serif;">Contact</a>
        </li>
      </ul>
    </div>
    
  </div>
  
</nav>

    <!-- <nav class="navbar navbar-expand-lg navbar-light  fixed-top" style="background: linear-gradient(15deg, #8e8e8f 0%, #f4f1f1 100%);height: 60px;">
      
      <div class="container">
        <div class="logo" (click)="goToHome()">
          <img  src="assets/images/logo.png" alt="" style="width: 190px;">
  
      </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#" style="font-size: 20px; font-family: Verdana, Geneva, Tahoma, sans-serif;">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="font-size: 20px; font-family: Verdana, Geneva, Tahoma, sans-serif;">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.marvel.com/games" style="font-size: 20px; font-family: Verdana, Geneva, Tahoma, sans-serif;">games</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"  style="font-size: 20px; font-family: Verdana, Geneva, Tahoma, sans-serif;">Contact</a>
            </li>
            
          </ul>
        </div>
        
      </div>
      
    </nav> -->
     

  
  <!-- Page Content -->
 <div>
  <img src="assets\images\banner2000.jpg"  alt="" style="width: 100%;">
 </div>
 <div>
    <img  src="assets\images\Opium_Hero-Banner_BP-Page_1920x647 (1).gif" alt="" style="width: 100%;">
  
 </div>
 <div style="background-image: url('assets/images/marvelhome.png');">

<div>
    <br>
    <img  src="assets\images\bad.png" alt="" style="width: 100%;">
 
</div>


<div>
    <div class="container">
        <div class="card" style="background: transparent;">
          <div class="card__header">
            <img src="assets/images/smart.png" alt="card__image" class="card__image" width="400">
          </div>
        </div>
        <div class="card" style="background: transparent;">
            <div class="card__header">
              <img src="assets/images/smart1.png" alt="card__image" class="card__image" width="400">
            </div>
          </div>
          <div class="card" style="background: transparent;">
            <div class="card__header">
              <img src="assets/images/smart2.png" alt="card__image" class="card__image" width="400">
            </div>
          </div>
      </div>

</div>

<div>
    <img src="assets/images/don.png" alt="" style="width: 100%;">
</div>



<div>
    <div class="container">
        <div class="card" style="background: transparent;">
          <div class="card__header">
            <img src="assets/images/old.png" alt="card__image" class="card__image" width="400">
          </div>
        </div>
        <div class="card" style="background: transparent;">
            <div class="card__header">
              <img src="assets/images/old1.png" alt="card__image" class="card__image" width="400">
            </div>
          </div>
          <div class="card" style="background: transparent;">
            <div class="card__header">
              <img src="assets/images/old2.png" alt="card__image" class="card__image" width="400">
            </div>
          </div>
      </div>

</div>


<div>
  <img src="assets/images/pather.png" alt="" style="width: 100%;">
</div>



<div>
  <div class="container">
      <div class="card" style="background: transparent;">
        <div class="card__header">
          <img src="assets/images/pa.png" alt="card__image" class="card__image" width="400">
        </div>
      </div>
      <div class="card" style="background: transparent;">
          <div class="card__header">
            <img src="assets/images/pa1.png" alt="card__image" class="card__image" width="400">
          </div>
        </div>
        <div class="card" style="background: transparent;">
          <div class="card__header">
            <img src="assets/images/pa3.png" alt="card__image" class="card__image" width="400">
          </div>
        </div>
    </div>

</div>



<div class="container-fluid mt-5" >
          
    <div class="card1 mx-5">
        <div class="row mb-4 ">
            
            <div class="col-md-4 col-sm-11 col-xs-11">
                <div class="footer-text pull-left">
                     <div class="d-flex1">
                        <img  src="assets/images/download.png" alt="" style="width: 230px;margin-left: -8%;">
  
                     </div>
                     <p class="card1-text"> famous of all time</p>
  
                     <div class="social mt-2 mb-3">
  
                        <i class="fa fa-facebook-official fa-lg" ></i>
                        <i class="fa fa-instagram fa-lg"></i>
                        <i class="fa fa-twitter fa-lg"></i>
                        <i class="fa fa-linkedin-square fa-lg"></i>
                        <i class="fa fa-facebook"></i>
  
                     </div>
                 
                 </div>
            </div>
            
            
            <div class="col-md-2 col-sm-1 col-xs-1 mb-2"></div>
            
            <div class="col-md-2 col-sm-4 col-xs-4">
         
                <h5 class="heading">Services</h5>
                <ul >
                    <li>IT Consulting -</li>
                    <li>Development</li>
                    <li>Cloud</li>
                    <li>DevOps & Support</li>
                </ul>
         
            </div>
         
         
            <div class="col-md-2 col-sm-4 col-xs-4">
         
                <h5 class="heading">Industries</h5>
                <ul class="card1-text">
                    <li>Finance</li>
                    <li>Public Sector</li>
                    <li>Smart Office</li>
                    <li>Retail</li>
                </ul>
         
            </div>
  
         
             <div class="col-md-2 col-sm-4 col-xs-4">
  
                <h5 class="heading">Company</h5>
                <ul class="card1-text">
                    <li>About Us</li>
                    <li>Blog</li>
                    <li>Contact</li>
                    <li>Join Us</li>
                </ul>
  
             </div>
  
        </div>
        
        
        <div class="divider mb-4" >   
        </div>
  
       
        <div class="row" style="font-size:10px;">
        
        <div class="col-md-6 col-sm-6 col-xs-6">
            
            <div class="pull-left">
                
                <p><i class="fa fa-copyright"></i> 2020 thezpdesign</p>
                
            </div>
            
        </div>
        
        
  
        <div class="col-md-6 col-sm-6 col-xs-6">
           
           
            <div class="pull-right mr-4 d-flex policy">
                
               <div>Terms of Use</div>
               <div>Privacy Policy</div>
               <div>Cookie Policy</div>
                
            </div>
            
            
            
        </div>
         
         
         
     </div>
    </div>
    
  </div>





 </div>